.content-table {
  margin-top: 51px;

  th, td {
    font-size: 16px;
  }
}

.content-edit-buttons-all {
  justify-items: flex-end;
}

.select-wrapper {
  padding: 0 !important;

  select {
    width: 100%;
    height: 100%;
    padding-left: 15px;
    background-color: transparent;
    border: none;
  }
}