$mainFont: ibm-plex-devanagari, sans-serif;
$scaleArrowHeader: scale(0.8);
$border2pxBlack: 2px solid black;
$inputBorder: $border2pxBlack;
$errorColor: #FF0909;
$errorInputBorder: 2px solid $errorColor;
$btnBlurColor: #8EE5F8;
$blackTypicalBorder: 1px solid #000000;