<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Producers</title>
  <link rel="stylesheet" href="../../static/css/cancel.css" />
  <link rel="stylesheet" href="../../static/css/mui.css" />
  <link rel="stylesheet" href="../../static/css/general.css" />
  <link rel="stylesheet" href="./producers.css" />
  <script src="../../static/scripts/definePage.js" defer></script>
  <script src="../../static/scripts/tableControl.js" defer></script>
</head>
<body>
<header class="header">
  <div class="mui-container">
    <div class="nav">
      <a href="../orders.html" data-to="orders">Заказы</a>
      <a href="../resources.html" data-to="resources">Ресурсы</a>
      <a href="../Products/products.html" data-to="products">Продукты</a>
      <a href="./producers.html" data-to="producers">Поставщики</a>
      <a href="../Plans/plans.html" data-to="plans">План производства</a>
      <a href="../Store/store.html" data-to="store">Склад</a>
      <div class="logout">
        <a href="/logout"><img src="../../static/icons/logout.svg"></a>
      </div>
    </div>
  </div>
</header>
<main id="content-wrapper">
  <div>
    <div class="content-row-info">
      <div class="line"></div>
      <div class="mui-container info-title">
        <div>Поставщики</div>
        <div class="line"></div>
      </div>
      <div class="line"></div>
    </div>
    <div class="mui-container">
      <div class="content-edit-buttons" data-table="producers_table">
        <div data-action="refresh">
          <img src="../../static/icons/refresh.svg"/>
        </div>
        <div data-action="add">
          <img src="../../static/icons/add.svg"/>
        </div>
        <div data-action="remove">
          <img src="../../static/icons/close-square.svg"/>
        </div>
      </div>
      <table class="content-table" id="producers_table">
        <thead>
        <tr>
          <th class="check-mark" style="width:70px" scope="col" data-checkmark=""></th>
          <th class="id" style="width:62px" scope="col">ID</th>
          <th class="name" style="width:262px" scope="col">Организация</th>
          <th class="description" style="width:256px" scope="col">Телефон</th>
          <th class="nomenclature" style="width:540px" scope="col">Номенклатура</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="check-mark-active"></td>
          <td>0001</td>
          <td>Здесь что-то есть</td>
          <td>Здесь что-то есть</td>
          <td>Здесь что-то есть</td>
        </tr>
        <tr>
          <td></td>
          <td>0002</td>
          <td></td>
          <td></td>
          <td>Здесь что-то есть</td>
        </tr>
        <tr>
          <td></td>
          <td>0003</td>
          <td></td>
          <td></td>
          <td>Здесь что-то есть</td>
        </tr>
        <tr>
          <td></td>
          <td>0004</td>
          <td></td>
          <td></td>
          <td>Здесь что-то есть</td>
        </tr>
        <tr>
          <td></td>
          <td>0004</td>
          <td></td>
          <td></td>
          <td>Здесь что-то есть</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
<script src="./producers.js"></script>
</body>
</html>
