body {
  display: block;
  min-height: 100vh;
}

.auth-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.auth-window {
  max-width: 576px;
  max-height: 472px;
  padding: 47px 97px 42px;
  background-color: #8EE5F8;
}

.auth-window .title {
  font-weight: 500;
  font-size: 40px;
}

.auth-window .inputs {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  margin: 44px 0 0 0;
}

.auth-window .inputs > div span {
  display: block;
}

.auth-window .inputs > div input {
  width: 100%;
  border: 2px solid black;
  height: 48px;
  font-weight: 400;
  font-size: 24px;
  padding: 5px 5px 5px 19px;
}

.auth-window .submit {
  display: flex;
  justify-content: center;
  margin-top: 57px;
}

.auth-window .submit button {
  min-width: 274px;
  box-shadow: 0 4px 5px #949494;
}

.auth-window-1 {
  max-width: 576px;
  max-height: 900px;
  padding: 47px 97px 42px;
  background-color: #8EE5F8;
}

.auth-window-1 .title {
  font-weight: 500;
  font-size: 40px;
}

.auth-window-1 .inputs {
  display: grid;
  grid-template-columns: 1fr;
  gap: 28px;
  margin: 35px 0 0 0;
}

.auth-window-1 .inputs > div span {
  display: block;
}

.auth-window-1 .inputs > div input {
  width: 100%;
  border: 2px solid black;
  height: 35px;
  font-weight: 400;
  font-size: 24px;
  padding: 5px 5px 5px 19px;
}

.auth-window-1 .submit {
  display: flex;
  justify-content: center;
  margin-top: 57px;
}

.auth-window-1 .submit button {
  min-width: 274px;
  box-shadow: 0 4px 5px #949494;
}