<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Authentication</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/general.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/cancel.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/auth1.css}">
</head>
<body>
<div class="auth-wrapper">
    <div class="auth-window">
        <form id="form" method="POST" th:action="@{/auth/sign-in}" th:object="${user}">
            <div class="title">Добро пожаловать!</div>
            <div class="inputs">
                <div class="login-wrapper">
                    <input id="login" type="email" placeholder="Email" th:field="*{email}">
                </div>
                <div class="password-wrapper">
                    <input id="password" type="password" placeholder="Пароль" th:field="*{pass}">
                </div>
            </div>
            <div class="submit">
                <button id="submit" class="btn btn-white" type="submit">Войти</button>
            </div>
        </form>

        <form method="GET" th:action="@{/auth/sign-up}">
            <div class="submit">
                <button class="btn btn-white" type="submit">Зарегистрироваться</button>
            </div>
        </form>

    </div>
</div>
<!--<script src="../static/Auth/auth.js"></script>-->
<script type="text/javascript" th:src="@{/js/auth.js}"></script>
</body>
</html>