<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Plans</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/general.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/cancel.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/mui.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/plans.css}">
</head>
<body>
<header class="header">
  <div class="mui-container">
    <div class="nav">
      <a th:href="orders" data-to="orders">Заказы</a>
      <a th:href="resources" data-to="resources">Ресурсы</a>
      <a th:href="products" data-to="products">Продукты</a>
      <a th:href="providers" data-to="producers">Поставщики</a>
      <a th:href="plans" data-to="plans">План производства</a>
      <a th:href="store" data-to="store">Склад</a>
      <div class="logout">
        <a th:href="@{/auth}"><img th:src="@{/icons/logout.svg}"></a>
      </div>
    </div>
  </div>
</header>
<main id="content-wrapper" class="mui--text-center">
  <div>
    <div class="content-row-info">
      <div class="line"></div>
      <div class="mui-container info-title">
        <div>План производства</div>
        <div class="line"></div>
      </div>
      <div class="line"></div>
    </div>
    <div class="mui-container">
      <div class="content-edit-buttons" data-table="plans_table">
        <div data-action="refresh">
          <img th:src="@{/icons/refresh.svg}">
        </div>
        <div data-action="add">
          <img th:src="@{/icons/add.svg}">
        </div>
      </div>
      <table class="content-table" id="plans_table">
        <thead>
        <tr>
          <th class="date" style="width:276px" scope="col">Дата</th>
          <th class="product" style="width:344px" scope="col">Продукт</th>
          <th class="units" style="width:256px" scope="col">Ед. измерения</th>
          <th class="" style="width:300px" scope="col">Количество</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td></td>
          <td>0001</td>
          <td>Здесь что-то есть</td>
          <td>Здесь что-то есть</td>
        </tr>
        <tr>
          <td></td>
          <td>0002</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>0003</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>0004</td>
          <td></td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
<script type="text/javascript" th:src="@{/js/plans.js}"></script>
<script type="text/javascript" th:src="@{/scripts/definePage.js}"></script>
<script type="text/javascript" th:src="@{/scripts/tableControl.js}"></script>
</body>
</html>
