<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Plans</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/general.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/cancel.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/mui.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/plans.css}">
</head>
<body>
<header class="header">
  <div class="mui-container">
    <div class="nav">
      <a th:href="orders" data-to="orders">Заказы</a>
      <a th:href="resources" data-to="resources">Ресурсы</a>
      <a th:href="products" data-to="products">Продукты</a>
      <a th:href="providers" data-to="producers">Поставщики</a>
      <a th:href="plans" data-to="plans">План производства</a>
      <a th:href="store" data-to="store">Склад</a>
      <div class="logout">
        <a th:href="@{/auth}"><img th:src="@{/icons/logout.svg}"></a>
      </div>
    </div>
  </div>
</header>
<main id="content-wrapper" class="mui--text-center">
  <div>
    <div class="content-row-info">
      <div class="line"></div>
      <div class="mui-container info-title">
        <div>План производства</div>
        <div class="line"></div>
      </div>
      <div class="line"></div>
    </div>
    <div class="mui-container">
      <div class="content-edit-buttons" data-table="plans_table">
        <div data-action="refresh">
          <a th:href="@{/plans}"><img th:src="@{/icons/refresh.svg}"></a>
        </div>
        <form id="add-file-plan" method="POST" th:action="@{/plans/add}" enctype="multipart/form-data" >
          <input id="file" type="file" name="file" hidden="true" accept=".json">
          <label for="file"><img th:src="@{/icons/add.svg}"></label>
          <div>
            <label for="file" id="label-for-file">   </label>
          </div>
          <div>
            <button class="btn btn-primary" type="submit" id="btn-upload" hidden="true">Отправить</button>
          </div>
        </form>
      </div>

      <table class="content-table" id="plans_table">
        <thead>
        <tr>
          <th class="date" style="width:276px" scope="col">Дата</th>
          <th class="product" style="width:344px" scope="col">Продукт</th>
          <th class="units" style="width:256px" scope="col">Ед. измерения</th>
          <th class="" style="width:300px" scope="col">Количество</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="plan:${plans}">
          <td th:utext="${plan.date}"></td>
          <td th:utext="${plan.product.name}"></td>
          <td th:utext="${plan.dimension.name}"></td>
          <td th:utext="${plan.count}"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/plans.js}"></script>
<script type="text/javascript" th:src="@{/scripts/definePage.js}"></script>
<script type="text/javascript" th:src="@{/scripts/tableControl.js}"></script>
</body>
</html>
