<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Products</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/general.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/cancel.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/products.css}">
</head>
<body>
<header class="header">
    <script>
        var page = 'products';
    </script>
    <div class="mui-container">
        <div class="nav">
            <a th:href="orders" data-to="orders">Заказы</a>
            <a th:href="resources" data-to="resources">Ресурсы</a>
            <a th:href="products" data-to="products">Продукты</a>
            <a th:href="providers" data-to="producers">Поставщики</a>
            <a th:href="plans" data-to="plans">План производства</a>
            <a th:href="store" data-to="store">Склад</a>
            <div class="logout">
                <a th:href="@{/auth}"><img th:src="@{/icons/logout.svg}"></a>
            </div>
        </div>
    </div>
    </div>
</header>
<main id="content-wrapper">
    <div class="content-row-info">
        <div class="line"></div>
        <div class="mui-container info-title">
            <div>Управление продуктами</div>
            <div class="line"></div>
        </div>
        <div class="line"></div>
    </div>
    <div class="mui-container">
        <div class="content-edit-buttons" data-table='products_table'>
            <div data-action='refresh'>
                <a th:href="@{/products}"><img th:src="@{/icons/refresh.svg}"></a>
            </div>
            <a href="CreateProduct/create-product.html">
                <div>
                    <img th:src="@{/icons/add.svg}">
                </div>
            </a>
            <div data-action='edit'>
                <img th:src="@{/icons/edit.svg}">
            </div>
            <div data-action='remove'>
                <img th:src="@{/icons/close-square.svg}">
            </div>
        </div>
        <table class="content-table" id='products_table'>
            <thead>
            <tr>
                <th class="check-mark" style="width:76px" scope="col" data-checkmark></th>
                <th class="id" style="width:128px" scope="col">ID</th>
                <th class="name" style="width:272px" scope="col">Название</th>
                <th class="resource" style="width:400px" scope="col" data-resources='дерево,сталь'>Ресурс</th>
                <th class="description" style="width:300px" scope="col">Описание</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product:${products}">
                <td class="check-mark-active"></td>
                <td th:utext="${product.id}"></td>
                <td th:utext="${product.name}">Здесь что-то есть</td>
                <td class="resources-wrapper">
                    <ul class="resources-list">
                        <li th:each="spec:${product.specifications}">
                            <div th:utext="${spec.resource.name}"  class="material"></div>
                            <div th:utext="${spec.count}"class="amount"></div>
                        </li>
                    </ul>
                </td>
                <td th:utext="${product.isProduct}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/products.js}"></script>
<script type="text/javascript" th:src="@{/scripts/definePage.js}"></script>
<script type="text/javascript" th:src="@{/scripts/tableControl.js}"></script>
</body>
</html>
