<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Producers</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/general.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/cancel.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/providers.css}">
</head>
<body>
<header class="header">
    <div class="mui-container">
        <div class="nav">
            <a th:href="@{/orders}" data-to="orders">Заказы</a>
            <a th:href="@{/resources}" data-to="resources">Ресурсы</a>
            <a th:href="@{/products}" data-to="products">Продукты</a>
            <a th:href="@{/providers}" data-to="producers">Поставщики</a>
            <a th:href="@{/plans}" data-to="plans">План производства</a>
            <a th:href="@{/store}" data-to="store">Склад</a>
            <div class="logout">
                <a th:href="@{/logout}"><img th:src="@{/icons/logout.svg}"></a>
            </div>
        </div>
    </div>
</header>
<main id="content-wrapper">
    <script>
        var page = 'providers';
    </script>
    <div>
        <div class="content-row-info">
            <div class="line"></div>
            <div class="mui-container info-title">
                <div>Поставщики</div>
                <div class="line"></div>
            </div>
            <div class="line"></div>
        </div>
        <div class="mui-container">
            <div class="content-edit-buttons" data-table="producers_table">
                <div data-action="refresh">
                    <a th:href="@{/providers}"><img th:src="@{/icons/refresh.svg}"></a>
                </div>
                <div data-action="add">
                    <a th:href="@{/providers/create-provider}"><img th:src="@{/icons/add.svg}"></a>
                </div>
                <div data-action="remove">
                    <img th:src="@{/icons/close-square.svg}">
                </div>
            </div>
            <table class="content-table" id="producers_table">
                <thead>
                <tr>
                    <th class="check-mark" style="width:70px" scope="col" data-checkmark=""></th>
                    <th class="id" style="width:62px" scope="col">ID</th>
                    <th class="name" style="width:262px" scope="col">Организация</th>
                    <th class="description" style="width:256px" scope="col">Телефон</th>
                    <th class="nomenclature" style="width:540px" scope="col">Адрес</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pro:${providers}">
                    <td class="check-mark-active"></td>
                    <td th:utext="${pro.id}"></td>
                    <td th:utext="${pro.name}"></td>
                    <td th:utext="${pro.getPhNumber()}"></td>
                    <td th:utext="${pro.getAddress()}"></td>
                </tr>
                </tbody>
            </table>
            <br>
            <script></script>
            <!--            <form id="get-cat-btn" method="POST" th:action="@{/providers/get-catalog}"><input type="hidden" name="example" value=""/>-->
            <!--                <button id="btn1" class="btn btn-blue">Выбрать поставщика</button>-->
            <!--            </form>-->
            <!--            <script>-->
            <!--                chosenProveder-->
            <!--            </script>-->


<!--            <p id="demo"></p>-->


            <form id="form" method="POST" th:action="@{/providers/get-catalog}" th:object="${provider}">
                <div class="inputs"><input id="demo" hidden="true" type="text" name="example" th:field="*{id}"/></div>
                <div class="submit">
                    <button id="btn1" type="submit" class="btn btn-blue">Посмотреть номенклатуру</button>
                </div>

            </form>

<!--            <div class="content-row-info">-->
<!--                <div class="line"></div>-->
<!--                <div class="mui-container info-title">-->
<!--                    <div th:utext="${catalog.get(0).getProvider().name}"></div>-->
<!--                    <div class="line"></div>-->
<!--                </div>-->
<!--                <div class="line"></div>-->
<!--            </div>-->


                        <div class="content-row-info">
                            <div class="line"></div>
                            <div th:if="${ not #lists.isEmpty(catalog)}" class="mui-container info-title">
                                <div th:utext="${'номенклатура ' + catalog.get(0).getProvider().name}"></div>
                                <div class="line"></div>
                            </div>
                            <div class="line"></div>
                        </div>
            <table class="content-table" id="catalog_table">
<!--                <tr th:if="${ not #lists.isEmpty(catalog)}">-->
                <!--                    <td class="check-mark-active"></td>-->
                <!--                    <td th:utext="${catalog.get(0).provider.name}"></td>-->
                <!--                </tr>-->
                <thead>
                <tr>
                    <th class="check-mark" style="width:70px" scope="col" data-checkmark=""></th>
                    <th class="name" style="width:262px" scope="col">Ресурс</th>
                    <th class="delivery-time" style="width:256px" scope="col">Время доставки</th>
                    <th class="price" style="width:540px" scope="col">Цена</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cat:${catalog}">
                    <td class="check-mark-active"></td>
                    <td th:utext="${cat.resource.name}"></td>
                    <td th:utext="${cat.deliveryTimeInDays}"></td>
                    <td th:utext="${cat.price}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/providers.js}"></script>
<script type="text/javascript" th:src="@{/scripts/definePage.js}"></script>
<!--<script type="text/javascript" th:src="@{/scripts/tableControl.js}"></script>-->
</body>
</html>
