<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Create Order</title>
  <link rel="stylesheet" href="../../static/css/cancel.css" />
  <link rel="stylesheet" href="../../static/css/mui.css" />
  <link rel="stylesheet" href="../../static/css/general.css" />
  <link rel="stylesheet" href="./create-order.css" />
  <script src="../../static/scripts/definePage.js" defer></script>
  <script src="../../static/scripts/tableControl.js" defer></script>
</head>
<body>
<header class="header">
  <div class="mui-container">
    <div class="nav">
      <a href="../orders.html" data-to="orders">Заказы</a>
      <a href="../resources.html" data-to="resources">Ресурсы</a>
      <a href="../products.html" data-to="products">Продукты</a>
      <a href="../providers.html" data-to="producers">Поставщики</a>
      <a href="../plans.html" data-to="plans">План производства</a>
      <a href="../store.html" data-to="store">Склад</a>
      <div class="logout">
        <a href="/logout"><img src="../../static/icons/logout.svg"></a>
      </div>
    </div>
  </div>
</header>
<main id="content-wrapper">
    <div class="mui-container">
      <div class="content-processing-order">
        <div class="content-processing-main">
          <div class="title">Оформление заказа</div>
          <div class="ordering">
            <button class="btn btn-gray">Запросить цены</button>
          </div>
          <table class="content-table">
            <thead>
            <th style="width:76px" scope="col">ID</th>
            <th style="width:76px" scope="col">Поставшик</th>
            <th style="width:76px" scope="col">Номенклатура</th>
            <th style="width:76px" scope="col">Цена</th>
            <th style="width:76px" scope="col">Дата поставки</th>
            </thead>
            <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="content-processing-inputs">
          <div class="processing-inputs">
            <div>
              <label for="id-order">ID Заказа</label>
              <input id="id-order" type="text" data-key="orderId">
            </div>
            <div>
              <label for="recourse">Ресурс</label>
              <input id="recourse" type="text" data-key="resource">
            </div>
            <div>
              <label for="amount">Количество</label>
              <input id="amount" type="text" data-key="amount">
            </div>
            <div>
              <label for="pay-type">Тип оплаты</label>
              <select id="pay-type" data-key="payType">
                <option value="первый">Первый</option>
              </select>
            </div>
            <div>
              <label for="producer">Поставщик</label>
              <select id="producer" data-key="producer">
                <option value="поставщик-1">Поставщик 1</option>
              </select>
            </div>
            <div>
              <label for="price">Цена</label>
              <input id="price" type="text" data-key="price">
            </div>
          </div>
        </div>
        <div class="create-order">
          <button class=" btn btn-blue">Оформить заказ</button>
        </div>
      </div>
    </div>
</main>
<script src="./create-order.js"></script>
</body>
</html>
