<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Create Product</title>
  <link rel="stylesheet" href="../../static/css/cancel.css" />
  <link rel="stylesheet" href="../../static/css/mui.css" />
  <link rel="stylesheet" href="../../static/css/general.css" />
  <link rel="stylesheet" href="./create-product.css" />
  <script src="../../static/scripts/definePage.js" defer></script>
  <script src="../../static/scripts/tableControl.js" defer></script>
</head>
<body>
<header class="mui-appbar mui--z1 header">
  <div class="mui-container">
    <div class="nav">
      <a href="../orders.html" data-to="orders">Заказы</a>
      <a href="../resources.html" data-to="resources">Ресурсы</a>
      <a href="../products.html" data-to="products">Продукты</a>
      <a href="../providers.html" data-to="producers">Поставщики</a>
      <a href="../plans.html" data-to="plans">План производства</a>
      <a href="../store.html" data-to="store">Склад</a>
      <div class="logout">
        <a href="/logout"><img src="../../static/icons/logout.svg"></a>
      </div>
    </div>
  </div>
</header>
<main id="content-wrapper" class="mui--text-center">
  <div class="mui-container">
    <div class="content-add-product">
      <div class="add-product-title">Создание продукта</div>
      <div class="add-product-form">
        <div class="block-input">
          <label for="add-product-id">ID</label>
          <input id="add-product-id" type="text">
        </div>
        <div class="block-input add-product-select">
          <label for="add-product-type">Тип продукта</label>
          <select id="add-product-type" class="with-arrow">
            <option value="Первый">Первый</option>
            <option value="Второй">Второй</option>
          </select>
        </div>
        <div class="block-input">
          <label for="add-product-name">Название</label>
          <input id="add-product-name" type="text">
        </div>
        <div class="block-input">
          <label for="add-product-amount">Количество</label>
          <input id="add-product-amount" type="text">
        </div>
      </div>
    </div>
    <table class="content-table" id="create-product-table">
      <thead>
      <tr>
        <th class="check-mark" style="width:60px" scope="col" data-checkmark></th>
        <th class="id" style="width:196px" scope="col">ID</th>
        <th class="name" style="width:704px" scope="col">Название</th>
        <th class="description" style="width:196px" scope="col">Количество</th>
      </tr>
      </thead>
      <tbody>
      <tr class="selected">
        <td class="check-mark-active"></td>
        <td>0001</td>
        <td>Здесь что-то есть</td>
        <td>Здесь что-то есть</td>
      </tr>
      <tr>
        <td></td>
        <td>0002</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>0003</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>0004</td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>
    <div class="save-wrapper">
      <button class="save btn btn-blue">Создать продукт</button>
    </div>
  </div>
</main>
<script src="./create-product.js"></script>
</body>
</html>
